.titleDescription{
  margin: -30px 25px 0 25px;
  position: relative;
  width: calc(100% - 50px);
}
.Description{
  background: linear-gradient( #DB3138 60%, transparent 60%);
  margin: 0;
 padding: 30px 40px 0  40px;  
font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.ImgDescriptoin{
  padding:  0 12px;
}
.ImgDescriptoin img{
  width: 100%;
}