

.container{
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1326px;
}
.dotsWrapper{
display: flex;
justify-content: center;
}
.dotsWrapper span {
  display: block;
    width: 10px;
    height: 10px;  
    background: #DB3138;
    transform: rotate(-45deg);
    margin: 0 15px;
}
.button{
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
text-transform: uppercase;
background: linear-gradient(90deg, #DB3138 60%, transparent 60%);

  font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-align: center;
}
.Title{
  margin: 200px 0 60px 0;
  font-family: Oswald;
    font-size: 52px;
    font-weight: 500;
    line-height: 73px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}
.Title .dotsWrapper{
  margin-top: 40px;
}
.footer{
  margin: 66px 0 0 0;
  padding: 34px 0;
  border-top: 1px solid #898989;
  color: rgba(255, 255, 255, 0.5);
}